<div class="header">
  <div class="container">
    <div class="row">
      <!-- title -->
      <div class="col-md-3">
        <h1>Social-Media Admin</h1>
      </div *ngIf="userService.isAdmin()">
      <!-- Add post -->
      <div class = "col-md-6" *ngIf="userService.isAuthenticated()">
        <a href="/add-post" class="new-post btn btn-primary">Add Post</a>

      </div>
      <!-- Login and register-->
      <div class="col-md-3" *ngIf="userService.isAuthenticated()">
        <a href="/logout" class="login btn btn-primary" (click)="logout()">Logout</a>


      </div>
    </div>
  </div>
</div>
