<div class="header" *ngIf="userService.isAuthenticated()">
  <div class="container">
    <div class="row">
      <!-- title -->
      <h1 class="col-md-3">Social-Media</h1>
      <div class="col-md-3" *ngIf="userService.isAdmin()">
        <a href="/user-list" class="admin btn btn-primary">User List</a>
        <a href="/post-list" class="admin btn btn-primary">Post List</a>
      </div>
      <div class = "col-md-6" *ngIf="userService.isAuthenticated()">
        <a href="/add-post" class="new-post btn btn-primary">Add Post</a>
        <a href="/logout" color="warn" class="logout btn btn-primary" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</div>
