<div class="header" *ngIf="userService.isAuthenticated()">
  <div class="container">
    <div class="row">
      <!-- title -->
      <div class="col-md-3">
        <h1>Social-Media</h1>
      </div>
      <!-- Add post -->
      <div class = "col-md-6">
        <a href="/add-post" class="new-post btn btn-primary">Add Post</a>

      </div>
      <!-- Login and register-->
      <div class="col-md-3">
        <a href="/logout" class="login btn btn-primary" (click)="logout()">Logout</a>


      </div>
    </div>
  </div>
</div>
