#profile{
  position: fixed;
  height: 100vh;
  top: 50px;
  right: 0;
  background-color: lightgrey;
  z-index: 10;
  transition-duration: .6s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-content{
  width: 100%;
  max-width: 300px;
  padding: 30px;

}


input,textarea{
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid gray;

}

.active{
  width: 100vw;
}

.idle{
  width:0
}
