<div>
  <h2> User List</h2>
  <table>
    <thead>
      <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.uid}}</td>
        <td>{{user.username}}</td>
        <td><input [(ngModel)]="user.email" type="text" value={{user.email}}></td>
        <td>
          <button mat-flat-button color="primary" (click)="updateOnClick(user)">Register</button>
          <button mat-flat-button color="warn" (click)="deleteOnClick(user.uid)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
